*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    
}
span{
    color: white;
    font-size: 20px;
}
.three button {
    padding: 10px ;
    margin: 3px;
    border-radius: 30px;
    text-decoration: none;
    
}
.one a span{
    font-size: 30px;
}
.two{
    align-items: center;
    display: flex;
    padding: 20px;
    border-radius: 30px;
}
.four{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: grey;
    color: rgba(0, 0, 0, 0.74);
    border-radius: 10px;
}
.four span{
    padding: 0 0 0 15px;
}
.four a span{
    padding: 0 5px 0 0;
}
.four input{
    background-color: rgba(0, 0, 0, 0.288);
    border: 2px solid rgba(0, 0, 0, 0.288);
    /* color: white; */
    padding: 20px 0;
    padding: 0 10px;
    
}
.home{
    background-color: rgba(0, 0, 0, 0.288);
    margin: 0 10px 0  0;
    padding: 10px;
    border-radius: 50%;
}
.three a {
    text-decoration: none;
    color: white;
}
.container1{
    display: flex; 
    /* background-color:black ; */
    /* height: 50px; */
    /* width: 250px; */
    justify-content: space-between;
    color: white;
}
.content a{
    text-decoration:none ;
    color: white;  
}
.content2 button{
    padding: 10px  ;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
    

}
.content2{
    /* height:150px; */
    /* width: 250px; */
    /* background-color: rgba(0, 0, 0, 0.822); */
    color: white;
}
.three button a{
    color: black;
}
.content2 button a{
    text-decoration: none;
    color: black;
}
.content3{
    /* height:100px; */
    /* width: 250px; */
    /* background-color:rgba(0, 0, 0, 0.822); */
    color: white;
}
.main{
    height: 500px;
    width: 400px;
    background-color:rgba(0, 0, 0, 0.877);
}
.content3 a{
    text-decoration:none ;
    color: black;
}
.content3 button{
    padding: 10px  ;
    border-radius: 20px;
    margin-top: 5px;
    padding: 10px;
}